@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: Roboto, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}

.section-1 {
  padding: 15px 220px 110px;
  color: #f9faf8;
  background-color: #1f2937;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 110px;
}

.logo {
  font-size: 24px;
  font-weight: 900;
}

.links a,
.text {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.text {
  line-height: 1.3;
}

.links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 26px;
  letter-spacing: 0.4px;
}

.heading {
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
}

.content {
  display: flex;
  align-items: center;
}

.text-container,
.image-wrapper {
  flex: 1;
}

.text-container {
  padding-right: 40px;
}

.btn {
  padding: 6px 36px;
  border-radius: 9px;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 900;
  font-size: 18px;
}

.main-btn {
  margin-top: 10px;
  border: none;
}

.image-wrapper {
  border-radius: 6px;
  height: 300px;
  overflow: hidden;
  width: 500px;
}

.section-2 {
  text-align: center;
  padding: 36px 20px 120px;
}

.info-heading {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 36px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card-image-wrapper {
  border: 4px solid #3882f6;
  border-radius: 10px;
  width: 180px;
  height: 180px;
  overflow: hidden;
}

.info-image {
  object-fit: cover;
  max-width: 140%;
  object-position: -28px 0;
}

.info-text {
  color: #1f2937;
  font-size: 18px;
  width: 16ch;
  margin: 8px auto 0;
  line-height: 1.1;
}

.section-3 {
  background-color: #e5e7eb;
  padding: 120px 300px 100px 340px;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 300;
}

figcaption {
  text-align: end;
  padding-right: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #1f2937;
}

.section-4 {
  padding: 100px 220px;
}

.action-wrapper {
  background-color: #3882f6;
  padding: 50px 125px;
  border-radius: 8px;
}

.action-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-title {
  color: #f9faf8;
  font-size: 24px;
  letter-spacing: 0.5px;
}

.action-text {
  font-size: 18px;
  color: #e5e7eb;
  letter-spacing: 0.5px;
}

.action-btn {
  border: 3px solid #f9faf8;
}

.section-5 {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 40px 0;
  font-size: 18px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.emoji {  
  color: transparent;
  text-shadow: 0 0 0 #e5e7eb;
  font-size: 12px;
}